@inject SignInManager<User> signInManager;

<!DOCTYPE html>
<html lang="en" itemscope="" itemtype="https://schema.org/QAPage">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="icon" type="image/x-icon" href="~/images/codehelperlogo.svg">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CodeHelper.styles.css" asp-append-version="true" />
</head>
<body>

    @if (ViewData["CurrentPage"] != "Autorization")
    {
        <header class="p-3 bg-dark text-white">
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <ul class="nav col-lg-auto mb-2 me-lg-auto justify-content-center mb-md-0">
                        <li>
                            <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">
                                <img src="~/images/codehelperlogo.svg" height="50px" width="50px" />
                                CodeHelper
                            </a>
                        </li>
                    </ul>

                    <form method="post" asp-controller="Questions" asp-action="Search" class="me-lg-auto col-12 col-lg-5 mb-3 mb-lg-0">
                        <input type="search" name="query" class="form-control form-control-dark" placeholder="Search..." aria-label="Search" />
                    </form>

                    @if (signInManager.IsSignedIn(User))
                    {
                        <div class="dropdown text-end">
                            <a href="#" class="d-block link-secondary text-light text-decoration-none dropdown-toggle" id="dropdownUser" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <label>@User.Identity?.Name</label>
                            </a>
                            <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser" data-popper-placement="bottom-start">
                                <li><a class="dropdown-item" asp-controller="Autorization" asp-action="SignOut">Sign out</a></li>
                            </ul>
                        </div>
                    }
                    else
                    {
                        <form method="get" class="text-end">
                            <button type="submit" asp-controller="Autorization" asp-action="Login" class="btn btn-outline-light me-2">Login</button>
                            <button type="submit" asp-controller="Autorization" asp-action="SignUp" class="btn btn-warning">Sign-up</button>
                        </form>
                    }
                </div>
            </div>
        </header>
    }

    <div class="container">
        <main role="main" class="pb-3">
            <div id="cookie_note" class="bg-dark">
                <p>
                    We use cookies to improve your website experience. By remaining on our website, you agree to the terms and conditions use of cookies. Read our privacy and usage proposals cookies <a rel="nofollow" class="text-warning" asp-controller="Home" asp-action="Cookie">here</a>.
                </p>
                <button class="button cookie_accept btn btn-warning btn-sm ms-1 my-auto">Accept</button>
            </div>
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="module" src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/ckeditor.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
