@inject SignInManager<User> signInManager;

<!DOCTYPE html>
<html lang="ru" itemscope="" itemtype="https://schema.org/QAPage">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="yandex-verification" content="c1503fd658b6ef61" />
    <title>@ViewData["Title"]</title>
    @if (ViewData["Description"] != null)
    {
        <meta name="description" content="@ViewData["Description"]">
    }
    <link rel="icon" href="~/favicon.svg" type="image/svg">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CodeHelper.styles.css" asp-append-version="true" />
    <script type="text/javascript">
        (function (m, e, t, r, i, k, a) {
            m[i] = m[i] || function () { (m[i].a = m[i].a || []).push(arguments) };
            m[i].l = 1 * new Date();
            for (var j = 0; j < document.scripts.length; j++) { if (document.scripts[j].src === r) { return; } }
            k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
        })
            (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(96019224, "init", {
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true
        });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/96019224" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
</head>
<body>
    @if (ViewData["CurrentPage"] != "Autorization")
    {
        <header class="p-3 bg-dark text-white">
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <ul class="nav col-lg-auto mb-2 me-lg-auto justify-content-center mb-md-0">
                        <li>
                            <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">
                                <img src="~/images/rewritecodelogo.svg" alt="logo" height="50px" width="50px" />
                                RewriteCode
                            </a>
                        </li>
                    </ul>

                    <form method="post" asp-controller="Questions" asp-action="Search" class="me-lg-auto col-12 col-lg-5 mb-3 mb-lg-0">
                        <input type="search" name="query" class="form-control form-control-dark" placeholder="Поиск..." aria-label="Search" />
                    </form>

                    @if (signInManager.IsSignedIn(User))
                    {
                        <div class="dropdown text-end">
                            <a href="#" class="d-block link-secondary text-light text-decoration-none dropdown-toggle" id="dropdownUser" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <label>@User.Identity?.Name</label>
                            </a>
                            <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser" data-popper-placement="bottom-start">
                                <li><a rel="nofollow" class="dropdown-item" asp-controller="Autorization" asp-action="SignOut">Выйти</a></li>
                            </ul>
                        </div>
                    }
                    else
                    {
                        <form method="get" class="text-end">
                            <button type="submit" asp-controller="Autorization" asp-action="Login" class="btn btn-outline-light me-2">Войти</button>
                            <button type="submit" asp-controller="Autorization" asp-action="SignUp" class="btn btn-warning">Регистрация</button>
                        </form>
                    }
                </div>
            </div>
        </header>
    }

    <div class="container">
        <main role="main" class="pb-3">
            <div id="cookie_note" class="bg-dark">
                <p>
                    Мы используем файлы cookie, чтобы улучшить работу с сайтом. Оставаясь на нашем сайте, вы соглашаетесь с условиями и правилами использования файлов cookie. Ознакомьтесь с нашей <a rel="nofollow" class="text-warning" asp-controller="Home" asp-action="Privacy">политикой конфиденциальности</a> и использовании файлов cookie <a rel="nofollow" class="text-warning" asp-controller="Home" asp-action="Cookie">здесь</a>.
                </p>
                <button class="button cookie_accept btn btn-warning btn-sm ms-1 my-auto">Принять</button>
            </div>
            @RenderBody()
        </main>

        @if (ViewData["CurrentPage"] != "Autorization")
        {
            <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
                <p class="col-md-4 mb-0 text-muted">Rewrite Code</p>

                <a asp-area="" asp-controller="Home" asp-action="Index" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                    <img src="~/images/rewritecodelogo.svg" alt="logo" height="50px" width="50px" />
                </a>

                <div class="dropup-center dropup nav col-md-4 justify-content-end">
                    <button class="btn btn-outline-secondary dropdown-toggle shadow-none" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Политика
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li rel="nofollow"><a asp-controller="Home" asp-action="Privacy" class="dropdown-item secondary-item">Конфиденциальности</a></li>
                        <li rel="nofollow"><a asp-controller="Home" asp-action="Cookie" class="dropdown-item secondary-item">Cookie</a></li>
                        <li rel="nofollow"><a asp-controller="Home" asp-action="ContentLicense" class="dropdown-item secondary-item">CC BY-SA</a></li>
                    </ul>
                </div>
            </footer>
        }
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="module" src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/ckeditor.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
