:root {
    --ck-color-base-background: transperent !important;
    --ck-color-button-default-background: rgb(44,44,44) !important;
    --ck-color-base-text: rgb(255,255,255,0.8) !important;
    --ck-color-button-on-color: rgb(255,255,255,0.8) !important;
    --ck-color-button-default-hover-background: rgb(19,19,19,0.8) !important;
    --ck-color-button-on-hover-background: rgb(19,19,19,0.8) !important;
    --ck-color-button-on-background: rgb(19,19,19,0.8) !important;
    --ck-color-button-on-active-background: rgb(19,19,19,0.8) !important;
    --ck-color-button-default-active-background: rgb(19,19,19,0.8) !important;
    --ck-color-focus-outer-shadow: rgb(19,19,19,0.8) !important;
    --ck-color-tooltip-background: rgb(19,19,19,0.8) !important;
    --ck-color-list-button-on-background: rgb(19,19,19) !important;
    --ck-color-list-button-on-background-focus: rgb(19,19,19) !important;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 12px;
    }
}

@media (max-width: 575px) {
    .mobile-hidden {
        display: none;
    }
}

html {
    background-color: #191919 !important;
}

header {
    background-color: transparent !important;
    border-bottom: 1px solid white;
}

body {
    color: rgb(255,255,255,0.8) !important;
    margin: 0px !important;
}

canvas {
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    top: 0px;
    position: fixed;
}

a {
    color: rgb(255,255,255,0.8) !important;
}

    a:hover {
        color: #757575;
    }

input::placeholder {
    color: rgb(255,255,255,0.8);
}

.form-control {
    background-color: transparent !important;
    border: 0px !important;
    color: rgb(255,255,255,0.8) !important;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
}

.dark-border {
    border: 1px solid !important;
    border-color: rgb(19,19,19,0.2) !important;
}

.list-group-item {
    background-color: transparent !important;
    color: rgb(255,255,255,0.8) !important;
}

.btn-dark {
    background-color: #191919 !important;
    color: rgb(255,255,255,0.8) !important;
}

.btn-light {
    border-color: rgb(255,255,255,0.8) !important;
    background-color: rgb(255,255,255,0.8) !important;
    color: rgb(19,19,19,0.8) !important;
}

.btn-outline-light {
    border-color: rgb(255,255,255,0.8) !important;
    color: rgb(255,255,255,0.8) !important;
}
    .btn-outline-light:hover {
        background-color: rgb(255,255,255,0.8) !important;
        color: rgb(19,19,19,0.8) !important;
    }

.btn-outline-dark {
    border-color: #191919 !important;
    color: rgb(255,255,255,0.8) !important;
}

    .btn-outline-dark:hover {
        background-color: #191919 !important;
    }

.main-bg-color {
    background: #191919 !important;
}

.second-bg-color {
    background: #444444 !important;
}

.light-bg-color {
    background-color: rgb(255,255,255,0.8) !important;
}

.front-color {
    color: rgb(255,255,255,0.8) !important;
}

.dark-front-color {
    color: rgb(19,19,19,0.8) !important;
}

.overflow-wrap {
    overflow-wrap: anywhere !important;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.secondary-focus:focus {
    border: 1px solid #757575 !important;
    box-shadow: none !important;
}

.secondary-item:focus {
    background-color: #6c757d !important;
    border-color: #6c757d !important;
}

.badge {
    display: unset !important;
}

.display-none {
    display: none !important;
}

.tags-menu {
    background: rgb(19,19,19,0.8) !important;
}

.tags-badge {
    display: block !important;
    background: rgb(19,19,19,0.8) !important;
    color: rgb(255,255,255,0.8) !important;
    font-size: .85em;
}

.tags-menu li a:hover {
    background-color: rgb(19,19,19) !important;
}
.tags-menu li a:focus {
    background-color: rgb(19,19,19) !important;
}
.tags-menu li:focus {
    background-color: rgb(19,19,19) !important;
}

.editor {
    display: none !important;
}

.readOnlyNoFormatEditor {
    display: none !important;
}

.readOnlyEditor {
    display: none !important;
}

.pagination .page-item .page-link {
    background-color: #444444;
    color: rgb(255,255,255,0.8) !important;
    border-color: #444444;
}

    .pagination .page-item .page-link:focus {
        z-index: 3;
        border-color: #444444;
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgba(44,44,44, 0.8);
    }

.pagination .page-item.active .page-link {
    z-index: 3;
    background-color: #444444;
    border: none !important;
}

.btn-visibility {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
}

.hover-card:hover .btn-visibility {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.6s, visibility 0.6s;
}

.custom-checkbox .custom-control-input {
    background-color: rgb(255,255,255,0.8);
    color: rgb(255,255,255,0.8);
}

.custom-checkbox .custom-control-input:checked {
    background-color: rgb(19,19,19,0.8);
    border-color: rgb(19,19,19,0.8);
}

    .custom-checkbox .custom-control-input:checked:focus {
        box-shadow: 0 0 0 1px rgb(19,19,19,0.8);
        border-color: rgb(19,19,19,0.8);
    }

.custom-checkbox .custom-control-input:focus {
    box-shadow: 0 0 0 1px rgb(19,19,19,0.8);
    border-color: rgb(19,19,19,0.8);
}

.custom-checkbox .custom-control-input:active {
    background-color: rgb(19,19,19,0.8);
    border-color: rgb(19,19,19,0.8);
}

.ck-source-editing-area,
.ck-editor__editable {
    height: auto;
}

.ck .ck-sticky-panel .ck-sticky-panel__content_sticky {
    position: static !important;
}

.ck .ck-blurred {
    border: none !important;
}

.ck .ck-toolbar {
    border: none !important;
}

.ck-focused {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}

.ck-content code {
    color: rgb(255,255,255,0.8) !important;
    background-color: rgb(44,44,44,0.8) !important;
    padding-left: 4px !important;
    padding-right: 4px !important;
}

.ck-content pre {
    padding: 1em;
    padding-bottom: 0px !important;
    color: rgb(19,19,19,0.8) !important;
    background-color: rgb(44,44,44,0.8) !important;
    border: 0 !important;
    border-radius: 2px;
    text-align: left;
    direction: ltr;
    tab-size: 4;
    font-style: normal;
    min-width: 200px;
    max-height: 700px !important;
    white-space: pre !important;
    overflow-wrap: normal !important;
    overflow: auto !important;
}

    .ck-content pre code {
        background-color: transparent !important;
        padding: 0 !important;
        border-radius: 0;
    }

    .ck-content pre::after {
        background: none !important;
        color: transparent !important;
    }


#cookie_note {
    display: none;
    position: fixed;
    z-index: 9999999;
    bottom: 15px;
    left: 50%;
    max-width: 90%;
    transform: translateX(-50%);
    padding: 20px;
    border-radius: 4px;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.4);
}

    #cookie_note p {
        margin: 0;
        font-size: 0.9rem;
        text-align: left;
        color: white;
    }

.cookie_accept {
    width: 20%;
    height: 2rem;
}

@media (min-width: 576px) {
    #cookie_note.show {
        display: flex;
    }
}

@media (max-width: 575px) {
    #cookie_note.show {
        display: block;
        text-align: left;
    }

    .cookie_accept {
        width: 40%;
    }
}
