html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.editor {
    display: none !important;
}

.readOnlyNoFormatEditor {
    display: none !important;
}

.readOnlyEditor {
    display: none !important;
}

.pagination .page-item .page-link {
    background-color: #6c757d !important;
    color: #fff !important;
    border-color: #6c757d !important;
}

    .pagination .page-item .page-link:focus {
        z-index: 3;
        border-color: #6c757d !important;
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgba(108,117,125, 0.8);
    }

.pagination .page-item.active .page-link {
    z-index: 3;
    background-color: #6c757d !important;
    border: none !important;
}

.btn-visibility {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
}

.hover-card:hover .btn-visibility {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.6s, visibility 0.6s;
}

.custom-checkbox .custom-control-input:checked {
    background-color: #6c757d !important;
    border-color: #6c757d !important;
}

    .custom-checkbox .custom-control-input:checked:focus {
        box-shadow: 0 0 0 1px #6c757d;
        border-color: #6c757d !important;
    }

.custom-checkbox .custom-control-input:focus {
    box-shadow: 0 0 0 1px #6c757d;
    border-color: #6c757d !important;
}

.custom-checkbox .custom-control-input:active {
    background-color: #6c757d;
    border-color: #6c757d !important;
}

.ck-source-editing-area,
.ck-editor__editable {
    height: auto;
}

.ck .ck-sticky-panel .ck-sticky-panel__content_sticky {
    position: static !important;
}
