@{
    ViewData["Title"] = "Content License";
}

<section class="p-4 d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-8 col-lg-8">
                <div class="border border-3 border-dark"></div>
                <div class="card bg-white shadow-lg">
                    <div class="card-body p-5">
                        <h1 class="fw-bold mb-2 text-uppercase fs-3">
                            License for the content
                        </h1>
                        <p>
                            All publicly accessible user contributions are licensed under <br>
                        </p>
                        <ul>
                            <li>Content contributed before 2011-04-08 (UTC) is distributed under the terms of <a href="https://creativecommons.org/licenses/by-sa/2.5/" rel="nofollow noreferrer">CC BY-SA 2.5</a>.</li>
                            <li>Content contributed from 2011-04-08 up to but not including 2018-05-02 (UTC) is distributed under the terms of <a href="https://creativecommons.org/licenses/by-sa/3.0/" rel="nofollow noreferrer">CC BY-SA 3.0</a>.</li>
                            <li>Content contributed on or after 2018-05-02 (UTC) is distributed under the terms of <a href="https://creativecommons.org/licenses/by-sa/4.0/" rel="nofollow noreferrer">CC BY-SA 4.0</a>.</li>
                        </ul>
                        <p>Please read the terms of service and the full legal text of the license carefully for more details on how your content can be used and for how you can use publicly accessible content contributed to the site by other users.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>