@{
    ViewData["Title"] = "Cookie Policy";
}

<section class="p-4 d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-8 col-lg-8">
                <div class="border border-3 border-light"></div>
                <div class="card main-bg-color shadow-lg">
                    <div class="card-body p-5">
                        <h2 class="fw-bold mb-2 text-uppercase">
                            Что такое cookies?
                        </h2>
                        <p class="mb-3">
                            Cookies - это простые текстовые файлы, которые хранятся на вашем компьютере или мобильном устройстве сервером веб-сайта.
                            Каждый файл cookie уникален для вашего веб-браузера. Он содержит некоторую анонимную информацию
                            например, уникальный идентификатор, доменное имя сайта, несколько цифр и чисел.
                        </p>

                        <h2 class="fw-bold mb-2 text-uppercase">Какие типы файлов cookie мы используем?</h2>
                        <p class="mb-2">
                            <h3 class="fw-bold fs-4">Необходимые файлы cookie</h3>
                            Необходимые файлы cookie позволяют нам предложить вам наилучшие возможности при доступе и
                            навигации по нашему сайту и использования его функций. Например, эти файлы cookie позволяют нам
                            распознать, что вы создали учетную запись и вошли в нее.
                        </p>
                        <p class="mb-2">
                            <h3 class="fw-bold fs-4">Функциональные файлы cookie</h3>
                            Функциональные файлы cookie позволяют нам управлять сайтом в соответствии с вашим выбором. Например,
                            мы узнаем ваше имя пользователя и запоминаем, как вы настраивали сайт во время
                            последующих посещениях.
                        </p>
                        <p class ="mb-3">
                            <h3 class="fw-bold fs-4">Аналитические файлы cookie</h3>
                            Эти файлы cookie позволяют нам и сторонним службам собирать агрегированные данные для статистически
                            о том, как наши посетители используют веб-сайт. Эти файлы cookie не содержат личной
                            информации, такой как имена и адреса электронной почты, и используются для того, чтобы помочь нам улучшить ваш пользовательский
                            опыт с сайтом.
                        </p>

                        <h2 class="fw-bold mb-2 text-uppercase">Как удалить файлы cookie?</h2>
                        <p class="mb-3">
                            Если вы хотите ограничить или заблокировать файлы cookie, установленные на нашем сайте, вы можете сделать это с помощью
                            настройки вашего браузера.
                        </p>
                        
                        <h2 class="fw-bold mb-2 text-uppercase">Связаться с нами</h2>
                        <p class="mb-3">Если у вас возникли вопросы по поводу данной политики или использования нами файлов cookie, пожалуйста, свяжитесь с нами по почте rewritecode23@gmail.com</p>
                   </div>
                </div>
            </div>
        </div>
    </div>
</section>